<div>
  <table>
    <tr>
      <th *ngFor="let heading of headings">{{ heading }}</th>
    </tr>
    <tr *ngFor="let user of usersData">
      <td>{{ user.firstName }}</td>
      <td>{{ user.middleName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.role.name }}</td>
      <td>{{ user.customer.name }}</td>
      <td>
        <button class="edit-btn" (click)="onEdit($event)">Edit</button>
        <button class="delete-btn" (click)="onDelete(user)">Delete</button>
        <button
          class="save-btn"
          style="display: none"
          (click)="onSave($event, user)"
        >
          Save
        </button>
        <button
          class="cancel-btn"
          style="display: none"
          (click)="onCancel($event)"
        >
          Cancel
        </button>
      </td>
    </tr>
  </table>
</div>
<app-add-user (onSubmitUser)="onAddUser()"></app-add-user>
